/* header start*/
.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: var(--layout-color);
    flex-direction: column;
}
.header-content {
    display: flex;
    align-items: center;
}
.nav-menu-define-1  {
    margin-left: 00px;
    background: var(--white-transparent-5);
    border-radius: 10px;
}
.nav-menu-define-1 ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    padding: 10px 20px;
}
.nav-menu-define-1 ul li button{
    font-size: 1.30em;
    text-decoration: none;
    color: var(--white-100);
    border: none;
    background-color: transparent;
}

.header-right-side-content ul {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
  
}
.header-right-side-content {
    overflow: hidden;
}
.logo-container {
    margin-left: 40px;
}
.logo {
    background: linear-gradient(39deg, rgb(255, 106, 0), rgb(158, 50, 0));
    font-weight: bold;
    font-size: 1.4rem;
    -webkit-background-clip: text;
    position: relative;
    -webkit-text-fill-color: transparent;
}
.logo::before {
    position: absolute;
    content: "";
    width: 46px;
    height: 20px;
    background: rgba(255, 85, 0, 0.234);
    border-radius: 50px 70px 70px 50px;
    left: -29px;
    top: 50%;
    transform: translateY(-50%);
    

}
.logo::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: rgb(255, 89, 0);
    border-radius: 3px;
    left: -25.5px;
    top: 50%;
    transform: translateY(-50%);
    animation: animateLogo  3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes animateLogo{
   0% {
    background: rgba(255, 89, 0, 1);
  }
  50% {
    background: rgba(255, 89, 0, 0);
  }
  100% {
    background: rgba(255, 89, 0, 1);
  }
}
.header-right-side-content ul li button {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white-100);
    border: none;
    background: transparent;
   
}
.header-right-side-content ul li:first-child button{
    background: var(--white-transparent-9);
}
.search-show-outer {
    display: flex;
    align-items: center;
    background: var(--white-transparent-9);
    padding: 8px 13px;
    border-radius: 9px;
    cursor: pointer;
    transition: background .2s;
}
.search-show-outer:hover {
    background: var(--white-transparent-15);
}
.search-show-inner  {
    display: flex;
    align-items: center;
    gap: 5px;
}
.search-show-inner span {
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-transparent-70);
}
.search-show-inner i {
    font-size: .9rem;
    color: var(--white-transparent-83);
}
.User-profile img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 10000px;
}
.User-profile {
    display: flex;
    align-items: center;
}
.nav-menu-define-1 ul li.active {
    position: relative;
}
.nav-menu-define-1 ul li.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--white-transparent-83);
    border-radius: 10p;
    left: 0;
    right: 0;
    border-radius: 100px;
    bottom: -23px;

    
}
.header-row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
}
.header-row2 {
    display: flex;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}
.header-row2 {
    display: none;
    align-items: center;
    justify-content: space-between;
}
.nav-menu-define-2 {
    margin-left: 0px;
    background: var(--white-transparent-5);
    border-radius: 10px;
    box-shadow: 20px 0px 40px var(--black-transparent-40);
}
.nav-menu-define-2 ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 38px;
    padding: 10px 20px;
}
.nav-menu-define-2 ul li button{
    font-size: 1.1em;
    text-decoration: none;
    color: var(--white-100);
    border: none;
    background-color: transparent;
}

.nav-menu-define-2 ul li.active {
    position: relative;
}
.nav-menu-define-2 ul li.active::after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    height: 2px;
    background: var(--white-transparent-83);
    border-radius: 10px;
    left: 50%;
    right: 0;
    border-radius: 100px;
    bottom: -19px;
    transform: translateX(-50%);

    
}
#MenuControllerId {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: var(--white-transparent-9);
    color: var(--white-100);
    font-size: 1.05rem;
}
.jobs-selection {
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    background: none;
    color: var(--white-100)
    
}
.header-row2-sideLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--white-transparent-5);
    border-radius: 10px;
}
#newJobs {
    margin-left: 2px;
    font-weight: 500;
}
/* Header end */

