body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "main"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) 1fr auto;
}
