@media (max-width: 768px) {
    .header-content{
        display: none;
    }
    body {
        grid-template-rows: var(--header-height-two) 1fr auto ;
    }
    .header-row2 {
        display: flex;
        align-items: center;
    }
}
@media (max-width: 1024px) {

}
@media (max-width: 500px) {

}
@media (max-width: 450px) {

}