@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
:root {
    --header-height: 75px;
    --header-height-two: 120px;
    --layout-color: rgb(29, 28, 35);
    --bg-color: rgb(38, 37, 44);
    --white-100: white;
    --white-transparent-5: rgba(255, 255, 255, 0.041);
    --white-transparent-9: rgba(255, 255, 255, 0.089);
    --white-transparent-15: rgba(255, 255, 255, 0.188);
    --white-transparent-70: rgba(255, 255, 255, 0.701);
    --white-transparent-83: rgba(255, 255, 255, 0.856);
    --black-100: black;
    --black-transparent-90: rgba(0, 0, 0, 0.906);
    --black-transparent-80: rgba(0, 0, 0, 0.849);
    --black-transparent-70: rgba(0, 0, 0, 0.711);
    --black-transparent-60: rgba(0, 0, 0, 0.528);
    --black-transparent-50: rgba(0, 0, 0, 0.352);
    --black-transparent-40: rgba(0, 0, 0, 0.201);
    

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "DM Sans", sans-serif;
    background: var(--bg-color);
}